<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.jaesung.simplepg.mapper.ApiCredentialMapper">

    <select id="findByClientId" resultType="me.jaesung.simplepg.domain.vo.api.ApiCredential">
        SELECT client_id, client_secret, client_name, status, return_url, created_at
        FROM api_credential
        WHERE client_id = #{clientId}
    </select>

    <insert id="insertApiCredential" parameterType="me.jaesung.simplepg.domain.dto.api.ApiCredentialRequest">
        INSERT INTO (client_id, client_secret, client_name, status, return_url) VALUES(#{clientId},#{clientSecret},#{clientName},#{active},#{returnUrl})
    </insert>

</mapper>