<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.jaesung.simplepg.mapper.PaymentMapper">

    <insert id="insertPayment" parameterType="me.jaesung.simplepg.domain.dto.payment.PaymentDTO">
        INSERT INTO PAYMENT (payment_id, payment_key, order_no, amount, status, method_code, product_name, customer_name, created_at)
        VALUES(#{paymentId},#{paymentKey},#{orderNo},#{amount},#{status},#{methodCode},#{productName},#{customerName},#{createdAt});
    </insert>

    <select id="existsByOrderNo" parameterType="string" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM PAYMENT WHERE order_no = #{orderNo})
    </select>

    <select id="findByPaymentKey" parameterType="string" resultType="me.jaesung.simplepg.domain.dto.payment.PaymentDTO">
        SELECT * FROM PAYMENT WHERE payment_key = #{paymentKey}
    </select>

</mapper>